<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/main.css">
  <body class="bg-secondary">
    <header class="bg-primary">
      <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
          <nav class="navbar navbar-expand navbar-dark bg-primary">
            <div class="collapse  navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Каталог</a>
                <a class="nav-item nav-link" href="#">Доставка</a>
                <a class="nav-item nav-link" href="#">Гарантии</a>
                <a class="nav-item nav-link" href="#">Контакты</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 fon">
          <div class="card-deck">
            <%= product.customText %> 
          </div>
        </div>
      </div>
    </main>
    <footer class="bg-secondary">
      <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 bg-secondary">
          &copy; Codery.camp, 2020
        </div>
      </div>
    </footer>
  </body>
</html>